body
  background-color: whitesmoke
  padding-top: 70px
  font-family: "Times New Roman", Times, serif, sans-serif;

  &.loading
    .loading-indicator
      display: block

.loading-indicator
  display: none
  float: right
  color: white
  line-height: 40px
  
#home-div
	text-align: center
	
.user-div
	text-align: center

